.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  height: 600px;
  text-align: center;

  background-color: $hero-bg-color;
  background-image: $hero-bg-gradient, url("../images/hero-bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__button:hover,
  &__button:focus {
    background-color: $hero-btn-hover;
  }
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: $hero-title-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  min-width: 200px;
  height: 50px;

  color: $hero-button-text-color;
  background-color: $accent-color;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms $cubic-bezier;
}
