.logo {
  color: $accent-color;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__header {
  color: $main-second-color;
}
